<form class="form-horizontal">

  <div class="alert alert-error" id="<%= guid %>_alert"></div>

  <div class="control-group">
    <label class="control-label" for="<%= guid %>_inputLogin">Email</label>
    <div class="controls">
      <input type="text" id="<%= guid %>_inputLogin" placeholder="Login" value="<%= user %>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="<%= guid %>_inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="<%= guid %>_inputPassword" placeholder="Password" value="<%= password %>">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" id="<%= guid %>_ckb" <%= rememberMe ? "checked" : "" %>> Remember me
      </label>
      <button type="button" class="btn" id="<%= guid %>_btn">Sign in</button>
    </div>
  </div>
</form>