<link href="scripts/modules/account/views/template/css/style-login-register.css" rel="stylesheet" />

      <form class="form-signin">
          <h2 class="form-signin-heading">Please sign in</h2>
          <div class="alert alert-error" id="<%= guid %>_alert"></div>

        <input type="text" class="input-block-level" placeholder="Email address" id="<%= guid %>_inputLogin" value="<%= user %>">
        <input type="password" class="input-block-level" placeholder="Password" id="<%= guid %>_inputPassword" value="<%= password %>">

        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="<%= guid %>_ckb" <%= rememberMe ? "checked" : "" %>> Remember me
        </label>
        <button class="btn btn-primary" type="button" id="<%= guid %>_btn">Sign in</button>
      </form>