<link href="scripts/modules/account/views/template/css/style-login-register.css" rel="stylesheet" />

<form class="form-signin">
    <h2 class="form-signin-heading">Sign Up</h2>
    <div class="alert alert-error" id="<%= guid %>_alert"></div>

    <input type="text" class="input-block-level" placeholder="Email address" id="<%= guid %>_inputEmail" value="<%= user %>">
    <input type="password" class="input-block-level" placeholder="Password" id="<%= guid %>_inputPassword" value="<%= password %>">
    <input type="password" class="input-block-level" placeholder="Confirm Password" id="<%= guid %>_inputConfirmPassword" value="<%= confirmPassword %>">

    <button class="btn btn-primary" type="button"  id="<%= guid %>_btn">Sign in</button>
</form>

